/* ============================== IMPORT ============================== */
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a :focus, a :active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input ::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button ::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
}

@font-face {
  font-family: "Philosopher";
  src: local("Philosopher"), url(../fonts/Philosopher-Bold.woff) format("woff"), url(../fonts/Philosopher-Bold.woff2) format("woff2"), url(../fonts/Philosopher-Bold.eot) format("eot");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Philosopher";
  src: local("Philosopher"), url(../fonts/Philosopher-Italic.woff) format("woff"), url(../fonts/Philosopher-Italic.woff2) format("woff2"), url(../fonts/Philosopher-Italic.eot) format("eot");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "TTNorms";
  src: local("TTNorms"), url(../fonts/TTNorms-Bold.woff) format("woff"), url(../fonts/TTNorms-Bold.woff2) format("woff2"), url(../fonts/TTNorms-Bold.eot) format("eot");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "TTNorms";
  src: local("TTNorms"), url(../fonts/TTNorms-Medium.woff) format("woff"), url(../fonts/TTNorms-Medium.woff2) format("woff2"), url(../fonts/TTNorms-Medium.eot) format("eot");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "TTNorms";
  src: local("TTNorms"), url(../fonts/TTNorms-Regular.woff) format("woff"), url(../fonts/TTNorms-Regular.woff2) format("woff2"), url(../fonts/TTNorms-Regular.eot) format("eot");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
html,
body {
  font-family: "Philosopher", sans-serif;
  color: #212225;
  line-height: 160%;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
}

.container {
  max-width: 1160px;
  padding: 0 15px;
  margin: 0 auto;
  height: 100%;
}

/* ==================================================================== */