/* ============================== IMPORT ============================== */
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a :focus, a :active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input ::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button ::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
}

@font-face {
  font-family: "Philosopher";
  src: local("Philosopher"), url(../fonts/Philosopher-Bold.woff) format("woff"), url(../fonts/Philosopher-Bold.woff2) format("woff2"), url(../fonts/Philosopher-Bold.eot) format("eot");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Philosopher";
  src: local("Philosopher"), url(../fonts/Philosopher-Italic.woff) format("woff"), url(../fonts/Philosopher-Italic.woff2) format("woff2"), url(../fonts/Philosopher-Italic.eot) format("eot");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "TT Norms";
  src: local("TT Norms"), url(../fonts/TTNorms-Bold.woff) format("woff"), url(../fonts/TTNorms-Bold.woff2) format("woff2"), url(../fonts/TTNorms-Bold.eot) format("eot");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "TT Norms";
  src: local("TT Norms"), url(../fonts/TTNorms-Medium.woff) format("woff"), url(../fonts/TTNorms-Medium.woff2) format("woff2"), url(../fonts/TTNorms-Medium.eot) format("eot");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "TT Norms";
  src: local("TT Norms"), url(../fonts/TTNorms-Regular.woff) format("woff"), url(../fonts/TTNorms-Regular.woff2) format("woff2"), url(../fonts/TTNorms-Regular.eot) format("eot");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
html,
body {
  font-family: "TT Norms", sans-serif;
  color: #212225;
  line-height: 150%;
  font-weight: 700;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
}

.container {
  max-width: 1190px;
  padding: 0 15px;
  margin: 0 auto;
  height: 100%;
}

.button {
  display: inline-block;
  background: #497BDF;
  color: #fff;
  letter-spacing: 0.1em;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  white-space: nowrap;
  text-transform: uppercase;
  border-radius: 10px;
  padding: 40px 80px;
  transition: all 0.3s;
}
.button:hover {
  scale: 1.025;
  transition: all 0.3s;
}

.button__empty {
  display: inline-block;
  background: #fff;
  color: #8C8C8C;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  border-radius: 10px;
  padding: 38px 65px;
  white-space: nowrap;
  transition: all 0.3s;
}
.button__empty:hover {
  scale: 1.025;
  transition: all 0.3s;
}

header {
  background: url(../images/bg/header-bg.jpg) 50% 50%/cover no-repeat;
}

.main__greeting {
  padding: 180px 0 100px 0;
  background: url(/images/bg/greeting-bg.png) 50% 50%/cover no-repeat;
}

/* ==================================================================== */
/* ============================== HEADER ============================== */
.header__top {
  margin: 0 0 65px;
}

.header__top-inner {
  display: flex;
  justify-content: space-between;
  height: 80px;
}

.header__logo {
  display: flex;
  align-items: center;
}

.header__tel {
  display: flex;
  align-items: center;
  color: #FFF;
}

.header__socials {
  display: flex;
}

.header__socials-item {
  margin-right: 10px;
}
.header__socials-item:last-child {
  margin-right: 17px;
}

.header__body-inner {
  display: flex;
  flex-direction: column;
}

.header__title {
  font-family: "Philosopher";
  font-style: normal;
  font-size: 54px;
  line-height: 110%;
  max-width: 785px;
  color: #FFF;
  margin: 0 0 50px;
}
.header__title span {
  color: #CBB47A;
}

.header__subtitle {
  margin: 0 0 50px 40px;
  max-width: 524px;
  font-weight: 500;
  font-size: 24px;
  color: #FFF;
}

.header__row {
  display: flex;
  justify-content: space-between;
  margin: 50px 0 -30px 0;
}

.header__row-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  max-width: 375px;
  border-radius: 20px;
  background-color: #FFF;
  transition: all 0.3s;
}
.header__row-item:hover {
  scale: 1.025;
  transition: all 0.3s;
  box-shadow: 4px 5px 6px 0px rgba(34, 60, 80, 0.2);
}
.header__row-item svg {
  position: absolute;
  bottom: 15px;
  right: 35px;
}
.header__row-item:hover svg path {
  transition: all 0.3s;
  fill: #074ef3;
}

.header__item-content {
  padding: 50px 95px 70px 50px;
}

.header__item-title {
  font-family: "TT Norms";
  font-style: normal;
  font-size: 20px;
  text-transform: uppercase;
  margin: 0 0 15px 0;
  color: #212225;
}
.header__item-title span {
  display: block;
  width: 61px;
  height: 62px;
}

.header__item-subtitle {
  font-family: "TT Norms";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}

/* ============================== GREETING ============================== */
.greeting__inner {
  position: relative;
}

.greeting__content {
  display: flex;
  flex-direction: column;
}

.greeting__text {
  max-width: 750px;
}

.greeting__title {
  margin: 0 0 50px 0;
  font-family: "Philosopher";
  font-style: normal;
  font-size: 48px;
  line-height: 110%;
}

.greeting__subtitle {
  max-width: 550px;
  margin: 0 0 60px 0;
  font-weight: 300;
}
.greeting__subtitle span {
  display: block;
  margin: 0 0 40px 0;
  text-transform: uppercase;
}

.greeting__bottom {
  display: flex;
}
.greeting__bottom img {
  margin: 0 25px 0 70px;
  max-height: 80px;
}

.greeting__person {
  max-width: 250px;
  display: flex;
  flex-direction: column;
}

.greeting__person-name {
  margin: 0 0 5px 0;
  font-weight: 500;
  font-size: 18px;
  text-transform: uppercase;
}

.greeting__person-desc {
  margin: 0 0 15px 0;
  font-weight: 300;
  font-size: 14px;
}

.greeting__socials {
  display: flex;
}

.greeting__socials-item {
  margin: 0 10px 0 0;
}
.greeting__socials-item:last-child {
  margin: 0;
}

.greeting__image {
  position: absolute;
  top: -70px;
  right: 0;
}

/* ============================== REC ============================== */
.rec__bg {
  max-width: 1400px;
  padding: 40px 0 40px 110px;
  margin: 0 auto;
  height: 100%;
  background-color: #DDE4F4;
  border-radius: 20px;
}

.rec__inner {
  display: flex;
  justify-content: space-between;
}

.rec__content {
  display: flex;
  flex-direction: column;
  max-width: 700px;
}

.rec__content-text {
  margin-bottom: 30px;
}

.rec__title {
  font-family: "Philosopher";
  font-size: 48px;
  line-height: 110%;
  margin-bottom: 25px;
}

.rec__subtitle {
  font-size: 18px;
  color: #333848;
}

.rec__content-checkbox {
  display: flex;
  flex-wrap: wrap;
  max-width: 500px;
  margin: 0 0 30px 0;
}

.rec__checkbox-item {
  display: flex;
  min-width: 130px;
  margin: 0 0 20px 0;
}
.rec__checkbox-item input {
  margin-right: 15px;
}
.rec__checkbox-item span {
  display: inline-block;
  text-align: center;
  color: #212225;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
}

.rec__buttons {
  display: flex;
}

.rec__buttons-left {
  margin-right: 20px;
}

.rec__buttons-right .button {
  padding: 40px 55px;
}

.rec__content-image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}