/* ============================== IMPORT ============================== */
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a :focus, a :active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input ::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button ::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
}

@font-face {
  font-family: "Philosopher";
  src: local("Philosopher"), url(../fonts/Philosopher-Bold.woff) format("woff"), url(../fonts/Philosopher-Bold.woff2) format("woff2"), url(../fonts/Philosopher-Bold.eot) format("eot");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Philosopher";
  src: local("Philosopher"), url(../fonts/Philosopher-Italic.woff) format("woff"), url(../fonts/Philosopher-Italic.woff2) format("woff2"), url(../fonts/Philosopher-Italic.eot) format("eot");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "TT Norms";
  src: local("TT Norms"), url(../fonts/TTNorms-Bold.woff) format("woff"), url(../fonts/TTNorms-Bold.woff2) format("woff2"), url(../fonts/TTNorms-Bold.eot) format("eot");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "TT Norms";
  src: local("TT Norms"), url(../fonts/TTNorms-Medium.woff) format("woff"), url(../fonts/TTNorms-Medium.woff2) format("woff2"), url(../fonts/TTNorms-Medium.eot) format("eot");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "TT Norms";
  src: local("TT Norms"), url(../fonts/TTNorms-Regular.woff) format("woff"), url(../fonts/TTNorms-Regular.woff2) format("woff2"), url(../fonts/TTNorms-Regular.eot) format("eot");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
html,
body {
  font-family: "TT Norms", sans-serif;
  color: #212225;
  line-height: 150%;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
}

.container {
  max-width: 1190px;
  padding: 0 15px;
  margin: 0 auto;
  height: 100%;
}

/* ==================================================================== */
.header {
  background: url(/images/bg/header_bg.jpg) 50% 50%/cover no-repeat;
}

.header__top {
  margin: 0 0 65px;
}

.header__top-inner {
  display: flex;
  justify-content: space-between;
  height: 80px;
}

.header__logo {
  display: flex;
  align-items: center;
}

.header__tel {
  font-weight: 700;
  display: flex;
  align-items: center;
  color: #FFF;
}

.header__socials {
  display: flex;
}

.header__socials-item {
  margin-right: 10px;
}
.header__socials-item:last-child {
  margin-right: 17px;
}

.header__body-inner {
  display: flex;
  flex-direction: column;
}

.header__title {
  font-family: "Philosopher";
  font-style: normal;
  font-weight: 700;
  font-size: 54px;
  line-height: 110%;
  max-width: 785px;
  color: #FFF;
  margin: 0 0 50px;
}
.header__title span {
  color: #CBB47A;
}

.header__subtitle {
  margin: 0 0 50px 40px;
  max-width: 524px;
  font-weight: 500;
  font-size: 24px;
  color: #FFF;
}

.header__row {
  display: flex;
  justify-content: space-between;
  margin-bottom: -30px;
}

.header__row-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  max-width: 375px;
  border-radius: 20px;
  background-color: #FFF;
}
.header__row-item svg {
  position: absolute;
  bottom: 15px;
  right: 35px;
}

.header__item-content {
  padding: 50px 95px 70px 50px;
}

.header__item-title {
  font-family: "TT Norms";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
  margin: 0 0 15px 0;
  color: #212225;
}
.header__item-title span {
  display: block;
  width: 61px;
  height: 62px;
}

.header__item-subtitle {
  font-family: "TT Norms";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}