@media (max-width: 1200px) {
  .header {
    .header__socials-item {
      pointer-events: none;
    }
  }

  .header__row-item {
    max-width: 330px;
    box-shadow: 4px 5px 6px 0px #223c5033;
    pointer-events: none;
  }

  .header__item-content {
    padding: 35px 35px 80px 35px;
  }

  /* ===================================================================== */
  /* ===================================================================== */
  .greeting__title {
    font-size: 38px;
  }

  .greeting__subtitle {
    font-size: 12px;
  }

  .greeting__bottom {
    max-width: 550px;
  }

  .greeting__image {
    max-width: 500px;
  }

  /* ===================================================================== */
  /* ===================================================================== */

  .rec__inner {
    .button-box {
      flex-direction: column;

      .button-empty {
        margin: 0 0 15px 0;
      }
    }
  }

  .rec__content-checkbox {
    flex-direction: column;
    margin: 0;
  }

  /* ===================================================================== */
  /* ===================================================================== */


}

@media (max-width: 1050px) {
  .header__text {
    .header__title {
      font-size: 40px;
    }

    .header__subtitle {
      font-size: 19px;
    }
  }

  .header__item-content {
    max-width: 270px;
    padding: 35px 35px 80px 35px;
  }

  .main__greeting {
    padding: 80px 0 100px 0;
  }

  /* ===================================================================== */
  /* ===================================================================== */
  .greeting__text {
    max-width: 600px;
  }

  .greeting__title {
    margin: 0 0 30px 0;
  }

  .greeting__subtitle {
    max-width: 400px;
    margin: 0 0 40px 0;

    .greeting__subtitle-item {
      margin: 0 0 20px 0;
    }
  }


  .greeting__bottom {
    max-width: 375px;
  }

  .greeting__signa {
    margin: 0;
    margin-right: 25px;
  }

  .greeting__person {
    max-width: 175px;
  }

  /* ===================================================================== */
  /* ===================================================================== */
  .rec__bg {
    padding: 40px 0 40px 40px;
  }

  .rec__content-text {
    margin-bottom: 15px;
  }

  .rec__title {
    font-size: 32px;
    margin-bottom: 15px;
  }

  .rec__subtitle {
    font-size: 13px;
    color: #333848;
  }

  .rec__checkbox-item span {
    font-size: 14px;
  }

  /* ===================================================================== */
  /* ===================================================================== */
  .reviews__slider-wrapper {
    margin-left: 0;
  }

  /* ===================================================================== */
  /* ===================================================================== */
  .main__answer {
    .answer__inner {
      padding: 30px 0 30px 0;

      .answer__row {
        flex-direction: column;
        align-items: center;
        padding: 20px 0 0 0;
      }

      .answer__row-item {
        margin-bottom: 40px;
      }


      .answer__title {
        font-size: 24px;
      }

      .answer__subtitle {
        font-size: 17px;
      }
    }
  }
}

@media (max-width: 870px) {
  .header__tel {
    a {
      font-weight: 400;
      font-size: 13px;
      line-height: 18px;
    }
  }

  .header__row {
    display: block;
  }

  .header__row-item {
    max-width: none;
    min-height: 300px;

    .header__item-title {
      font-weight: 900;
      font-size: 15px;
    }

    .header__item-subtitle {
      font-size: 15px;
    }
  }

  .slick-list {
    .header__row-item {
      margin: 10px 20px;
    }
  }

  .header__item-content {
    max-width: none;
  }

  /* ===================================================================== */
  /* ===================================================================== */
  .greeting__inner {
    position: relative;
  }

  .greeting__text {
    max-width: 460px;
  }

  .greeting__subtitle {
    max-width: 310px;
    margin: 0;
    font-size: 12px;
  }

  .greeting__bottom {
    max-width: 375px;
  }

  .greeting__signa {
    margin: 0;
    margin-right: 25px;
  }

  .greeting__person {
    max-width: 175px;
  }

  .greeting__bottom {
    max-width: 300px;
    padding: 7px 30px;
    background: #F6F8FB;
    border-radius: 10px;
    position: absolute;
    right: -5px;
    bottom: -90px;
    z-index: 88;
  }

  .greeting__signa {
    max-width: 100px;
    margin: 0;
    position: absolute;
    bottom: 27px;
    right: 27px;
  }

  .greeting__person {
    max-width: none;
  }


  .greeting__image {
    max-width: 400px;
  }

  /* ===================================================================== */
  /* ===================================================================== */
  .rec__inner {
    position: relative;
  }

  .rec__content-image {
    max-width: 300px;
    position: absolute;
    right: 0;
    top: 15%;
  }

  /* ===================================================================== */
  /* ===================================================================== */
  .reviews__top-inner {
    flex-direction: column;
    padding-bottom: 60px;
  }

  .reviews__text {
    max-width: none;
  }

  .reviews__title {
    font-size: 40px;
    text-align: center;
    margin: 0 0 15px 0;
  }

  .reviews__subtitle {
    position: absolute;
    bottom: -20px;
  }

  .reviews__row {
    flex-direction: column;

  }

  .reviews__row-item {
    flex-direction: row;
    margin: 0 0 10px 0;

    &:nth-child(1) {
      order: 2;
    }

    &:nth-child(2) {
      order: 3;
    }

    &:nth-child(3) {
      order: 1;
    }

    &:last-child .reviews__row-item-text {
      margin: 0;
    }

    &:last-child .reviews__row-item-text {
      padding: 0;
    }
  }

  .reviews__row-item-text {
    margin-left: 10px;
    align-self: center;
  }

  .reviews__row-item-number {
    font-size: 60px;
  }

  .reviews__slider-wrapper {
    padding: 0 0 80px 0;
  }

  .reviews__slide {
    min-height: 450px;
  }

  .reviews__arrows {
    right: 50%;
    bottom: -160%;
    transform: translate(50%);
  }

  .reviews__bottom {
    padding: 80px 0 30px 0;
  }

  /* ===================================================================== */
  /* ===================================================================== */
}


@media (max-width:650px) {
  .greeting__content {
    padding-bottom: 150px;
  }

  .greeting__image {
    max-width: 355px;
  }

  .greeting__bottom {
    right: 200px;
  }

  /* ===================================================================== */
  /* ===================================================================== */

  .reviews__arrows {
    bottom: -155%;
  }

  /* ===================================================================== */
  /* ===================================================================== */
}


@media (max-width: 555px) {
  .header__text {
    .header__title {
      font-size: 28px;
    }

    .header__subtitle {
      font-size: 16px;
    }
  }

  .header__socials-item {
    width: 25px;
    margin-right: 7px;

    &:last-child {
      margin-right: 7px;
    }
  }

  .header__btn {
    .button {
      width: 100%;
      padding: 0;
    }
  }

  .header__row-item {
    max-width: none;
    min-height: 275px;
  }

  /* ===================================================================== */
  /* ===================================================================== */

  .greeting__subtitle-item {
    &:last-child {
      max-width: 200px;
    }
  }

  .greeting__bottom {
    max-width: 250px;
    right: 0px;
  }

  .greeting__image {
    max-width: 300px;
  }

  /* ===================================================================== */
  /* ===================================================================== */
  .main__rec {
    padding: 0;
  }

  .rec__bg {
    padding: 20px;
  }

  .rec__inner {
    justify-content: center;
    text-align: center;
  }

  .rec__inner {
    .button-box {

      .button-empty {
        margin: 0 0 10px 0;
      }
    }
  }

  .rec__checkbox-item {
    margin: 0 0 10px 0;
  }

  .rec__checkbox-item input {
    margin-right: 5px;
  }

  .button-box {
    margin: 0;
  }

  .rec__content-image {
    display: none;
  }

  /* ===================================================================== */
  /* ===================================================================== */

  .reviews__slide {
    min-height: 0;
  }

  .reviews__arrows {
    display: none;
  }

  .reviews__bottom {
    padding: 0 0 30px 0;
  }

  /* ===================================================================== */
  /* ===================================================================== */
}