/* ============================== IMPORT ============================== */
@import "reset";
@import "fonts";
@import "global";
@import "mixins";

/* ==================================================================== */

/* ============================== HEADER ============================== */
.header__top {
  margin: 0 0 65px;
}

.container {}

.header__top-inner {
  display: flex;
  justify-content: space-between;
  height: 80px;
}

.header__logo {
  display: flex;
  align-items: center;
}

.header__img {}

.header__tel {
  display: flex;
  align-items: center;
  color: #FFF;
}

.header__socials {
  display: flex;
}

.header__socials-item {
  margin-right: 10px;

  &:last-child {
    margin-right: 17px;
  }
}

.header__body {}

.header__body-inner {
  display: flex;
  flex-direction: column;
}

.header__text {}

.header__title {
  font-family: 'Philosopher';
  font-style: normal;
  font-size: 54px;
  line-height: 110%;
  max-width: 785px;
  color: #FFF;
  margin: 0 0 50px;

  span {
    color: #CBB47A;
  }
}

.header__subtitle {
  margin: 0 0 50px 40px;
  max-width: 524px;
  font-weight: 500;
  font-size: 24px;
  color: #FFF;
}

.header__btn {}


.header__row {
  display: flex;
  justify-content: space-between;
  margin: 50px 0 -30px 0;

}

.header__row-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  max-width: 375px;
  border-radius: 20px;
  background-color: #FFF;
  transition: all .3s;

  &:hover {
    scale: 1.025;
    transition: all .3s;
    box-shadow: 4px 5px 6px 0px #223c5033;
  }

  svg {
    position: absolute;
    bottom: 15px;
    right: 35px;
  }

  &:hover svg path {
    transition: all .3s;
    fill: #074ef3;
  }
}

.header__item-content {
  padding: 50px 95px 70px 50px;

}


.header__item-title {
  font-family: 'TT Norms';
  font-style: normal;
  font-size: 20px;
  text-transform: uppercase;
  margin: 0 0 15px 0;
  color: #212225;

  span {
    display: block;
    width: 61px;
    height: 62px;
  }
}

.header__item-subtitle {
  font-family: 'TT Norms';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}

/* ============================== GREETING ============================== */

.greeting__inner {
  position: relative;
}

.greeting__content {
  display: flex;
  flex-direction: column;
}

.greeting__text {
  max-width: 750px;
}

.greeting__title {
  margin: 0 0 50px 0;
  font-family: 'Philosopher';
  font-style: normal;
  font-size: 48px;
  line-height: 110%;
}

.greeting__subtitle {
  max-width: 550px;
  margin: 0 0 60px 0;
  font-weight: 300;

  span {
    display: block;
    margin: 0 0 40px 0;
    text-transform: uppercase;
  }
}

.greeting__bottom {
  display: flex;

  img {
    margin: 0 25px 0 70px;
    max-height: 80px;
  }
}

.greeting__signa {}

.greeting__person {
  max-width: 250px;
  display: flex;
  flex-direction: column;
}

.greeting__person-name {
  margin: 0 0 5px 0;
  font-weight: 500;
  font-size: 18px;
  text-transform: uppercase;
}

.greeting__person-desc {
  margin: 0 0 15px 0;
  font-weight: 300;
  font-size: 14px;
}

.greeting__socials {
  display: flex;
}

.greeting__socials-item {
  margin: 0 10px 0 0;

  &:last-child {
    margin: 0;
  }
}

.greeting__socials-link {}

.greeting__image {
  position: absolute;
  top: -70px;
  right: 0;
}

/* ============================== REC ============================== */
.rec__bg {
  max-width: 1400px;
  padding: 40px 0 40px 110px;
  margin: 0 auto;
  height: 100%;
  background-color: #DDE4F4;
  border-radius: 20px;
}

.rec__inner {
  display: flex;
  justify-content: space-between;
}

.rec__content {
  display: flex;
  flex-direction: column;
  max-width: 700px;
}

.rec__content-text {
  margin-bottom: 30px;
}

.rec__title {
  font-family: 'Philosopher';
  font-size: 48px;
  line-height: 110%;
  margin-bottom: 25px;
}

.rec__subtitle {
  font-size: 18px;
  color: #333848;
}

.rec__content-checkbox {
  display: flex;
  flex-wrap: wrap;
  max-width: 500px;
  margin: 0 0 30px 0;
}

.rec__checkbox-item {
  display: flex;
  min-width: 130px;
  margin: 0 0 20px 0;

  input {
    margin-right: 15px;
  }

  span {
    display: inline-block;
    text-align: center;
    color: #212225;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
  }
}

.rec__buttons {
  display: flex;
}

.rec__buttons-left {
  margin-right: 20px;
}

.button {}

.rec__buttons-right {
  .button {
    padding: 40px 55px;
  }
}

.rec__content-image {
  img {

    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}